{
    "appName": "PPOB",
    "database": {
        "host": "",
        "user": "",
        "password": "",
        "port": "",
        "database": ""
    },
    "secretKey": {
        "jwt": "huhah"
    },
    "appPort": "3000"
}